@font-face {
    
    font-family: Bahaus93;
    src: url(./assets/font/BAUHS93.TTF);
}

body {
    font-family: Bahaus93, Arial, Helvetica, sans-serif;
    background: radial-gradient(white, whitesmoke, rgb(234, 233, 233), gray)
}

.main {
    box-shadow: 6px 5px 5px black;
    border-radius: 20px;
    background: radial-gradient( rgba(170, 60, 0, 0.816), rgba(200, 40, 0, 0.822))
}
.main, .game-flex {
   
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    touch-action: none;
}
.game-flex {
    border: none;
    flex-direction: column-reverse;
    min-width: 300px;
    margin: 2px;
}
/*?A*/
.game {
    display: flex;
    flex-direction: row;
    margin: 4px 2px;
   
}
    .blister, .results {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
        margin: 1px;
        height: 28px;
        
    }
    
        .slot {
            border: solid black;
            border-radius: 50%;
            background-color: white;  
            margin: auto 3px;
            height: 30px;
            width: 30px;
                   
        }
    .checker {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 15%;
        margin: 1px;
        justify-content:stretch
    }
    .checker-slot {
        
        margin: 1px;
        border: solid black;
    }

    .check-button, .start, .back {
        font-family: Bahaus93;
        margin: auto;
        border-radius: 12%;
        border: none;
        
        
    }
    .check-button {
        display: none;
    }
        .check-button:hover, .start:hover, .back:hover {
            background-color: rgb(43, 43, 43);
            color: white;
        }

/*?B*/
    .picker {
        display: flex;
        flex-direction: row;
    }

        .picker-slot {
            box-shadow: inset 0 0 10px black;
            margin: 5px auto;
        
        }


/*?D*/
.menu {
    order:2;
    display: flex;
    flex-direction: row;

}

    .help {
        color: rgb(3, 3, 9);
        touch-action: none;
      user-select: none;
      margin: 10px auto;
    }
    .help:hover {
        color: white;
        cursor: pointer;
    }
    .back {
        font-size: 1em;
        margin: 5px auto;
    }
    .start {
        grid-column: span 2;
       margin: 10px auto;
        
    }
    .duplicates {
        margin: 10px auto;
        margin-left: 30px;
    }

    .alerta {
        border-radius: 5px;
        padding: 5px;
        color: whitesmoke;
        max-width: 280px;
        align-self: center;
        text-align: center;
    }

/* GPT version */